.carousel-inner {
  display: flex;
  transition: transform 1s ease-in-out;
}
.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}

.active,
.dot:hover {
  background-color: dimgray;
}
